<h2>本当に退会しますが？</h2>

<h3>
  退会すると、会員登録情報や<br>
  これまでの購入履歴が閲覧できなくなります。<br>
  退会する場合は、　「退会する」　をクリックしてください。
</h3>

<table>
  <tr>
    <td>
      <%= link_to "退会しない", edit_customer_path(@customer.id) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= form_with model: @customer, url: customers_withdrawal_path, method: :patch do |f| %>
        <%= hidden_field :is_deleted, :value => true %>
        <%= f.submit "退会する" %>
      <% end %>
    </td>
  </tr>
</table>