<p id="notice"></p>
<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-center"  style="height: 200px">
    <h1>About</h1>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-center text-center"  style="height: 200px">
    <h3>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国への発送可能ですので 「いつ」 でも 「どこ」 でもご注文いただけます。<br>
      ぜひご注文ください。
    </h3>
  </div>
</div>
